*, ::backdrop, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 2rem;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.header {
  position: relative;
  z-index: 1;
  transition: background-color 0.5s ease;
}
.header__nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__ul {
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 10rem;
}
.header__li {
  font-size: 120%;
}
.header__link {
  text-decoration: none;
  color: black;
}
.header__link:hover {
  color: crimson;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding-right: 3rem;
}

.bar {
  width: 5rem; /* Adjust the width as needed */
  height: 0.8rem;
  background-color: black;
  display: block;
  margin: 0.5rem auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.container .text {
  position: relative;
  color: crimson;
  font-size: 3rem;
  font-weight: 600;
}

.container .text.first__text {
  color: white;
}

.text.second__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  border-left: 0.2rem solid black;
  animation: animate 4s steps(12) infinite;
}

@keyframes animate {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
.main {
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
}
.main__article {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__img {
  height: 30rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.8);
  object-fit: contain;
  border: 0.2rem solid rgb(0, 0, 0);
  border-radius: 50%;
  flex-wrap: wrap;
}
.main__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 5%;
}
.main__socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-decoration: none;
}
.main__social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  text-decoration: none;
  color: black;
}
.main__social:hover {
  color: crimson;
}

.bodyProject {
  height: 100vh;
}

.reveal {
  opacity: 0;
  transform: translateY(150px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.Projecten {
  height: 30vh;
  margin-bottom: 10rem; /* Add margin to create space between Projecten and the footer */
  height: auto;
  flex-direction: column;
}
.Projecten__title {
  padding: 2rem;
  padding-top: 4rem;
  font-size: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: crimson;
}
.Projecten__ul {
  animation: fadeInAnimation 1s ease-in-out forwards;
  gap: 3rem;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 2rem;
}
.Projecten__li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20rem;
  width: 30rem;
  object-fit: contain;
  box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  transition: all 0.2s;
}
.Projecten__li:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.Projecten__Link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex-direction: column;
  color: black;
}
.Projecten__img {
  height: 90%;
  width: 100%;
  border-radius: 0.5rem;
}

.aboutMe {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: crimson;
}
.aboutMe__left {
  width: 55%;
}
.aboutMe__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.aboutMe__text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4rem;
}
.aboutMe__right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  font-size: 1.6rem;
  background: black;
}
.footer__div {
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.footer__list {
  font-size: 120%;
  list-style: none;
}
.footer__link {
  text-decoration: none;
}
.footer__title {
  color: crimson;
}
.footer__listItem > a {
  color: white;
  text-decoration: none;
}

.ProjectMain {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
}
.ProjectMain__artcLeft {
  height: 100%;
  flex-wrap: wrap;
  flex-shrink: 1;
}
.ProjectMain__title {
  font-size: 150%;
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  color: crimson;
}
.ProjectMain__details {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ProjectMain__img {
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  border-radius: 1rem;
  box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.8);
  flex-wrap: wrap;
}
.ProjectMain__artcRight {
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.ProjectMain__omschrijving {
  margin-bottom: 1rem;
  color: crimson;
}
.ProjectMain__text {
  width: 50ch;
  margin-bottom: 2rem;
}
.ProjectMain__skills {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.ProjectMain__skill i {
  height: 8rem;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ProjectMain__Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: auto;
}
.ProjectMain__Button {
  height: 4rem;
  width: 8rem;
  background: white;
  color: black;
  border: 0.2rem solid black;
  border-radius: 0.5rem;
}
.ProjectMain__Button:hover {
  transition: 0.2s all;
  cursor: pointer;
  background: crimson;
  color: white;
  border: none;
}
.ProjectMain__Button > a {
  text-decoration: none;
  color: black;
}

.skills {
  height: 100vh;
  margin-top: 15rem;
}
.skills__title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: crimson;
}
.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
.skills__listItem {
  width: 25%;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 3rem;
}
.skills__listItem > i {
  font-size: 10rem;
}

@media screen and (max-width: 62rem) {
  .ProjectMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .ProjectMain__title {
    margin-top: 5rem;
    font-size: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .ProjectMain__details {
    margin-bottom: 5rem;
  }
  .ProjectMain__artcLeft {
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .ProjectMain__artcRight {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ProjectMain__omschrijving {
    margin-bottom: 1rem;
  }
  .ProjectMain__text {
    margin-bottom: 1rem;
    width: 80%;
  }
  .footer {
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
  }
}
@media screen and (max-width: 42.625rem) {
  .header__ul {
    gap: 5rem;
  }
  .header__li {
    font-size: 100%;
    gap: 1rem;
  }
  .main {
    overflow: hidden;
  }
  .main__img {
    transition: transform 0.5s ease;
    /* Add a smooth transition for scaling */
    transform: scale(0.6);
  }
  .main__article {
    flex-shrink: 1;
  }
  .main__text {
    color: black;
  }
  .container .text {
    font-size: 120%;
  }
  .aboutMe {
    height: 100%;
    margin-bottom: 5rem;
  }
  .ProjectMain__Button {
    margin-bottom: 2rem;
  }
  .skills__list {
    gap: 5rem;
  }
  .skills__listItem > i {
    font-size: 8rem;
  }
  .skills .text.second__text::before {
    display: none;
  }
  .skills .footer {
    margin-top: 5rem;
    gap: 1rem;
    flex-direction: column;
    padding-right: 0;
  }
}
@media screen and (max-width: 38.125rem) {
  .main {
    height: 100%;
    overflow: hidden;
  }
  .main__article {
    flex-direction: column;
  }
  .main__img {
    transition: transform 0.5s ease;
  }
  .main__img--2 {
    display: none;
  }
  .main__text {
    color: black;
  }
  .container .text {
    font-size: 90%;
  }
  .ProjectMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .ProjectMain__title {
    font-size: 2.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .ProjectMain__details {
    margin-bottom: 5rem;
  }
  .ProjectMain__img {
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ProjectMain__artcLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .ProjectMain__artcRivht {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .ProjectMain__omschrijving {
    margin-bottom: 1rem;
  }
  .ProjectMain__text {
    font-size: 90%;
    margin-bottom: 1rem;
  }
  .footer {
    margin-top: 5rem;
    gap: 1rem;
    flex-direction: column;
    padding-right: 0;
  }
}
@media screen and (max-width: 26rem) {
  .main {
    height: 100%;
    overflow: hidden;
  }
  .main__article {
    flex-direction: column;
  }
  .main__img {
    transition: transform 0.5s ease;
  }
  .main__img--2 {
    display: none;
  }
  .main__text {
    color: black;
  }
  .container .text {
    font-size: 100%;
  }
  .aboutMe {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .aboutMe__left {
    width: 100%;
  }
  .Projecten__title {
    margin-top: 5rem;
  }
  .skills__list {
    gap: 5rem;
  }
  .skills__listItem > i {
    font-size: 8rem;
  }
  .footer {
    margin-top: 5rem;
    gap: 1rem;
    flex-direction: column;
    padding-right: 0;
  }
  .hamburger {
    padding: 1rem;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    align-items: center;
    justify-content: center;
  }
  .header__ul {
    /* Set initial left position to -100% */
    left: -100%;
    position: fixed;
    top: 7rem;
    gap: 0;
    flex-direction: column;
    background: crimson;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 0;
  }
  .header__li {
    margin: 1.6rem 0;
  }
  .header__ul.active {
    left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
