*, ::backdrop, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 2rem;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(#BC7AF9, 30%, #AED2FF);
}

.header {
  height: 10vh;
  background: #BC7AF9;
  position: relative;
  z-index: 1;
}
.header__nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__ul {
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 10rem;
}
.header__ul:hover {
  color: black;
}
.header__li {
  font-size: 120%;
}
.header__link {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding-right: 3rem;
}

.bar {
  width: 5rem; /* Adjust the width as needed */
  height: 0.8rem;
  background-color: black;
  display: block;
  margin: 0.5rem auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.container .text {
  position: relative;
  color: #F31559;
  font-size: 3rem;
  font-weight: 600;
}

.container .text.first__text {
  color: white;
}

.text.second__text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #B795FB;
  border-left: 0.2rem solid black;
  animation: animate 4s steps(12) infinite;
}

@keyframes animate {
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
.main {
  flex-grow: 1;
  overflow: hidden;
}
.main__article {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.main__img {
  height: 30rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.8);
  object-fit: contain;
  border: 0.2rem solid rgb(0, 0, 0);
  border-radius: 50%;
  flex-wrap: wrap;
}
.main__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 5%;
  color: white;
}
.main__socials {
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-decoration: none;
}
.main__socials a {
  text-decoration: none;
}
.main__social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
}

.bodyProject {
  height: 90vh;
}

.Projecten {
  height: 30vh;
  margin-bottom: 2rem; /* Add margin to create space between Projecten and the footer */
  height: auto;
  flex-direction: column;
}
.Projecten--main {
  color: white;
}
.Projecten__title {
  padding: 2rem;
  padding-top: 4rem;
  font-size: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Projecten__ul {
  gap: 3rem;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 2rem;
}
.Projecten__li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 25rem;
  width: 25rem;
  box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  transition: all 0.2s;
  border: 0.2rem solid rgb(0, 0, 0);
}
.Projecten__li:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.Projecten__Link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex-direction: column;
  color: white;
}
.Projecten__img {
  height: 20rem;
}

.aboutMe {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.aboutMe__left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}
.aboutMe__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.aboutMe__text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
.aboutMe__right {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aboutMe__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.aboutMe__items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  aspect-ratio: 1/1;
  background: black;
}

.footer {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333; /* Choose a background color for your footer */
  color: white; /* Choose a text color for your footer */
  font-size: 1.6rem;
  flex-direction: column;
}

.ProjectMain {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
}
.ProjectMain__artcLeft {
  height: 100%;
  flex-wrap: wrap;
  flex-shrink: 1;
}
.ProjectMain__title {
  font-size: 5rem;
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.ProjectMain__details {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ProjectMain__img {
  height: 40rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  border-radius: 1rem;
  box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.8);
  flex-wrap: wrap;
}
.ProjectMain__artcRight {
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.ProjectMain__omschrijving {
  margin-bottom: 1rem;
}
.ProjectMain__text {
  width: 50ch;
}
.ProjectMain__Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: auto;
}
.ProjectMain__Button {
  height: 4rem;
  width: 8rem;
  background: white;
  color: black;
  border: 0.2rem solid black;
  border-radius: 0.5rem;
}
.ProjectMain__Button:hover {
  transition: 0.2s all;
  background: black;
  color: white;
}

.skills {
  height: auto;
}
.skills__title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
.skills__listItem {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 3rem;
}
.skills__listItem > i {
  font-size: 15rem;
  color: white;
}

@media screen and (max-width: 42.625rem) {
  .header__ul {
    gap: 5rem;
  }
  .header__li {
    font-size: 100%;
    gap: 1rem;
  }
  .main__img {
    transition: transform 0.5s ease;
    /* Add a smooth transition for scaling */
    transform: scale(0.6);
  }
  .main__article {
    flex-shrink: 1;
  }
  .main__text {
    color: black;
  }
}
.container .text {
  font-size: 120%;
}

.aboutMe {
  height: 100%;
  margin-bottom: 5rem;
}

.skills__list {
  gap: 5rem;
}
.skills__listItem > i {
  font-size: 8rem;
}
.skills .text.second__text::before {
  display: none;
}

@media screen and (max-width: 38.125rem) {
  .main {
    height: 100%;
  }
  .main__article {
    flex-direction: column;
  }
  .main__img {
    transition: transform 0.5s ease;
  }
  .main__img--2 {
    display: none;
  }
  .main__text {
    color: black;
  }
  .container .text {
    font-size: 90%;
  }
}
@media screen and (max-width: 26rem) {
  .main {
    height: 100%;
  }
  .main__article {
    flex-direction: column;
  }
  .main__img {
    transition: transform 0.5s ease;
  }
  .main__img--2 {
    display: none;
  }
  .main__text {
    color: black;
  }
  .container .text {
    font-size: 100%;
  }
  .aboutMe {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .aboutMe__left {
    width: 100%;
  }
  .skills__list {
    gap: 5rem;
  }
  .skills__listItem > i {
    font-size: 8rem;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(1rem) rotate(45deg);
    width: 5rem;
  }
  .hamburger.active .bar:nth-child(2) {
    transform: scale(0);
    /* Hide the middle bar by scaling it to 0 */
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-1rem) rotate(-45deg);
    width: 5rem;
  }
  .header__ul {
    /* Set initial left position to -100% */
    left: -100%;
    position: fixed;
    top: 7rem;
    gap: 0;
    flex-direction: column;
    background: #BC7AF9;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 0;
  }
  .header__li {
    margin: 1.6rem 0;
  }
  .header__ul.active {
    left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
