@use "./reset";
@use "./base";
@use "./componets/header/header";
@use "./componets/main/main";
@use "./componets/projecten/projecten";
@use "./componets/footer/footer";
@use "./componets/project/project";
@use "./abstracts/animations";