@use "../../abstracts/mixins";
@use "../../abstracts/colors";

.ProjectMain{
min-height: 90vh;
display: grid;
grid-template-columns: 50% 50%;
align-items: center;
justify-content: center;

&__artcLeft{
height: 100%;
flex-wrap: wrap ;
flex-shrink: 1;

}

&__title{
font-size: 150%;
width: 200%;
@include mixins.flex;
padding-top: 2rem;
color: map-get(colors.$baseColors, "crimson");
}

    &__details{
    height: 70%;
    @include mixins.flex;
     

        
    }

    &__img{
        
       height: 25rem;
       @include mixins.flex;
       object-fit: contain;
       border-radius: 1rem;
       box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0,0.8);
       flex-wrap: wrap;
    }

    &__artcRight{

height: 50%;
@include mixins.flex;
flex-direction: column;
    }

    &__omschrijving{
      
        margin-bottom: 1rem;
        color: map-get(colors.$baseColors, "crimson");
    }

    &__text{
        
        width: 50ch;
        margin-bottom: 2rem;
       
      
    }

&__skills{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  
    gap: 2rem;
}

&__skill i {
    height: 8rem;
    font-size: 5rem;
    @include mixins.flex;
 
}

    &__Buttons {
        @include mixins.flex;
        gap: 4rem;
        margin-top: auto; 
        
    
    }
    
    &__Button{
        height: 4rem;
        width: 8rem;
        background:  map-get(colors.$baseColors, "white");
        color: map-get(colors.$baseColors, "black") ;
        border: 0.2rem solid black;
        border-radius: 0.5rem;


        &:hover{
            transition: 0.2s all;
            cursor: pointer;
            color: map-get(colors.$baseColors, "crimson");
            color:  map-get(colors.$baseColors, "white");
            border: none;
           
        }
    }

    
        &__Button > a{
            text-decoration: none;
            color: map-get(colors.$baseColors, "black");

      
            
        }
}