@use "../../abstracts/animations";
@use "../../abstracts/animations";
@use "../../abstracts/colors";


.Projecten {
  height: 30vh;
  margin-bottom: 10rem; /* Add margin to create space between Projecten and the footer */
  height: auto; 
  flex-direction: column;
  

  
  &__title {
    padding: 2rem;
    padding-top:4rem ;
    font-size: 150%;
    @include mixins.flex;
    color: map-get(colors.$baseColors, "crimson");


  }

  &__ul {
    animation: fadeInAnimation 1s ease-in-out forwards;
    gap: 3rem;
    flex-wrap: wrap;
    @include mixins.flex;
    list-style: none;
    padding: 2rem;
   
 
 


   
  }

  &__li {
    @include mixins.flex;
    flex-direction: column;
    
    height: 20rem;
    width: 30rem;
    object-fit: contain;
box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0,0.8);
border-radius: 0.5rem;
transition: all 0.2s;




&:hover{
  cursor: pointer;
  transform: scale(1.1);
}
  }

  &__Link{
    height: 100%;
    @include mixins.flex;
    text-decoration: none;
    flex-direction: column;
    color:  map-get(colors.$baseColors, "black");
   

  }

  &__img {
   height: 90%;
width: 100%;
border-radius: 0.5rem;


  }


}

