.Projecten {
min-height: 100vh;
  margin-bottom: 2rem; /* Add margin to create space between Projecten and the footer */
  height: auto; 

  flex-direction: column;
 
  &--main{
    color: white;
  background: #333;
   
 }

  &__title {
    padding: 2rem;
    padding-top:4rem ;
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;


  }

  &__ul {
   
    gap: 3rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 2rem;


   
  }

  &__li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    height: 25rem;
    width: 25rem;
box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0,0.8);
border-radius: 0.5rem;
transition: all 0.2s;
border: 0.2rem solid rgb(0, 0, 0);

&:hover{
  cursor: pointer;
  transform: scale(1.1);
}
  }

  &__Link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex-direction: column;
    color: black;
  }

  &__img {
    height: 20rem;
  }

}