.Projecten {
  height: 30vh;
  margin-bottom: 10rem; /* Add margin to create space between Projecten and the footer */
  height: auto; 
  flex-direction: column;

  
  &__title {
    padding: 2rem;
    padding-top:4rem ;
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: crimson;


  }

  &__ul {
   
    gap: 3rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 2rem;


   
  }

  &__li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    height: 20rem;
    width: 30rem;
    object-fit: contain;
box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0,0.8);
border-radius: 0.5rem;
transition: all 0.2s;


&:hover{
  cursor: pointer;
  transform: scale(1.1);
}
  }

  &__Link{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex-direction: column;
    color: black;
   
  }

  &__img {
   height: 90%;
width: 100%;
border-radius: 0.5rem;

  }

}