
.header {
 
position: relative; 
    z-index: 1;
  
    transition: background-color 0.5s ease; 


    &__nav {
        height: 100%;
        width: 100%;
  
        display: flex;
        justify-content: center;
        align-items: center;


    }

    &__ul {
        padding: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        list-style: none;
        gap: 10rem;

   
      
    }

    &__li {
     
        font-size: 120%;
   
    }

  
    &__link {

        text-decoration: none;
    
        &:hover{
            color: crimson;
        }
    }


}

.hamburger{
 display: none;
    cursor: pointer;
    padding-right: 3rem;

}

.bar{
    width: 5rem; /* Adjust the width as needed */
    height: 0.8rem;
    background-color: black;
    display: block;
    margin: 0.5rem auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    background-color: black;

}