@use "../../abstracts/animations";
.main {
    flex-grow: 1;
    overflow: hidden;
  
    background: linear-gradient(#BC7AF9, 30%, #AED2FF);


    &__article {
         flex-grow: 2; 
  display: flex;
  align-items: center;
  
  justify-content: center; 
  min-height: 100vh;
 }

    &__img {
        height: 30rem;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.8);
        object-fit: contain;
        border: 0.2rem solid rgb(0, 0, 0); 
        border-radius: 50%;

    }

    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 5%;
        color: white;
    }

&__socials {
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-decoration: none;
}

&__socials a{

    text-decoration: none;
}

&__social{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    
}




}

.bodyProject {
    height: 90vh;

}
