@use "../../abstracts/animations";
.main {
    height: 100%;
    overflow: hidden;
    flex-grow: 1;


    &__article {
    height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
 
  
 }


    &__img {
        height: 30rem;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.8);
        object-fit: contain;
        border: 0.2rem solid rgb(0, 0, 0); 
        border-radius: 50%;
        flex-wrap: wrap;

    }

    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 5%;
     
    }

&__socials {

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-decoration: none;
}



&__social{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
    text-decoration: none;
    color: black;
   
    
    &:hover{
        color: crimson;
    }
}




}

.bodyProject {
    height: 100vh;
 

}

.reveal {
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

