@use "../../abstracts/mixins";
@use "../../abstracts/colors";

.aboutMe {
  
    height: 70vh;
    @include mixins.flex;
    flex-wrap: wrap;
    color: map-get(colors.$baseColors, "crimson");

    &__left{
     width: 55%;
    }


    &__title {
        @include mixins.flex;
        width: 100%;
    
     
    }

    &__text {
        @include mixins.flex;
      padding-left: 4rem;
        
    }

    
    &__right{
        width: 40%;
        @include mixins.flex;
        flex-direction: column;
    
    }
}