.aboutMe {
  
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
     color: crimson;

    &__left{
     width: 55%;
    }


    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    
     
    }

    &__text {
        display: flex;
        align-items: center;
        justify-content: center;
      padding-left: 4rem;
        
    }

    
    &__right{
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}