@use "../../abstracts/mixins";
@use "../../abstracts/colors";

.skills{
    height: 100vh;
    margin-top: 15rem;
    

    &__title{
        @include mixins.flex;
        color: map-get(colors.$baseColors, "crimson");
       
        
    }

    &__list{
        @include mixins.flex;
        flex-wrap: wrap;
     
        gap: 1rem;
        padding: 2rem;
    }

    &__listItem{
        width: 25%; 
        margin-top: 5rem;
        @include mixins.flex;
        flex-direction: column;
        font-size: 3rem;
   
    }

    
    &__listItem > i{
        
        font-size: 10rem;
      
      
     }
}

