.skills{
    height: 100vh;
    margin-top: 10rem;
    

    &__title{
        display: flex;
        align-items: center;
        justify-content: center;
        color: crimson;
       
        
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
    }

    &__listItem{
     width: 25%; 
margin-top: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 3rem;
   
    }

    
    &__listItem > i{
        
        font-size: 10rem;
      
      
     }
}

