.footer {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Choose a background color for your footer */
    color: white; /* Choose a text color for your footer */
    font-size: 1.6rem;
  }