.footer {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  font-size: 1.6rem;

  background: black;


  &__div {
    height: 50%;
    display: flex;
align-items: flex-start;
justify-content: flex-start;
    flex-direction: column;
 
  }
  &__list {
   font-size: 120%;
  list-style: none;

 
  }
  
  &__link{
  
    text-decoration: none;

  }

  &__title{
    color: crimson;
  }

  &__listItem > a{
   color: white;
    text-decoration: none;
  }

}

