@use "../../abstracts/mixins.scss";
@use "../../abstracts/colors";

.footer {
  height: 20rem;
  @include mixins.flex;
  gap: 10rem;
  font-size: 1.6rem;

  background:  map-get(colors.$baseColors, "black");


  &__div {
    height: 50%;
    display: flex;
align-items: flex-start;
justify-content: flex-start;
    flex-direction: column;
 
  }
  &__list {
   font-size: 120%;
  list-style: none;

 
  }
  
  &__link{
  
    text-decoration: none;

  }

  &__title{
    color: map-get(colors.$baseColors, "crimson");
  }

  &__listItem > a{
   color:  map-get(colors.$baseColors, "white");
    text-decoration: none;
  }

}

